<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307329916359-gevqpqrpeppes2pdd9u00vkv27toppoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307329916359-gevqpqrpeppes2pdd9u00vkv27toppoh</string>
	<key>API_KEY</key>
	<string>AIzaSyARggoxXxSkvFbSCz5OvGp2MryBKreCb2U</string>
	<key>GCM_SENDER_ID</key>
	<string>307329916359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LB.crewsade-app</string>
	<key>PROJECT_ID</key>
	<string>crewsade-f8c30</string>
	<key>STORAGE_BUCKET</key>
	<string>crewsade-f8c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307329916359:ios:e282282cab0ca46e2c0de2</string>
	<key>DATABASE_URL</key>
	<string>https://crewsade-f8c30.firebaseio.com</string>
</dict>
</plist>